<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation suite">
<listeners>   <listener class-name="com.qa.uk.listners.ExtentReportListener"></listener> </listeners>
  <test name="HomePageTest">
     
    <classes>
      <class name="com.qa.uk.tests.HomeTest" />
      </classes>
  </test> <!-- Test -->    
</suite> <!-- Suite -->